# Dirección del contrato Multisig desplegado en Sepolia
VITE_MULTISIG_ADDRESS="0xDIRECCION_DEL_CONTRATO_DESPLEGADO"

# (Opcional) RPC personalizado para Sepolia. Si se omite usa el público.
VITE_SEPOLIA_RPC_URL=""

# (Opcional) WalletConnect Project ID. Se puede obtener gratis en https://cloud.walletconnect.com
# Si no se provee, RainbowKit usará un placeholder y solo funcionarán los conectores tipo MetaMask inyectados.
VITE_WALLETCONNECT_PROJECT_ID=""
